<template name="hits">
	<div class="row">
		{{>filterhits}}
		{{>searching}}
	</div>
	<br>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		{{#each hits}}
			{{> entry}}
		{{/each}}
	</div>
</template>


<template name="entry">
	<div class="panel {{entryClass}}">
		<div class="panel-heading" role="tab" id="panel-{{_id}}">
			<h4 class="panel-title">
				<div class="row" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
					<p class="col-md-3">{{url}}</p>
					<p class="col-md-3 pull-right">{{time}}</p>
				</div>
			</h4>
		</div>

		<div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-{{_id}}">
			<div class="panel-body ">
			<div class="col-md-6">
					<strong>HEADERS:</strong>
					<pre>{{json2html headers}}</pre>
				</div>
	            {{#if body}} 
				<div class="col-md-6">
					<strong>BODY:</strong>
					<button class="btn-copy-body-{{_id}}" data-clipboard-action="copy" data-clipboard-target="#pre{{_id}}">
						Copy to clipboard
					</button>
					<!-- Target to copy -->
					<pre id="pre{{_id}}">{{json2html body}}</pre>
				</div>
				{{/if}}
			</div>
		</div>
	</div>    
</template>

<template name='filterhits'>
	<div class="col-md-6">
		<label class="checkbox-inline no-padding-left">
			<h4>Visibility filter:</h4>
		</label>
		<label class="checkbox-inline " >
		  <input type="checkbox" name="get" checked> GET
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" name="post" checked> POST
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" name="put" checked> PUT
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" name="delete" checked> DELETE
		</label>
	</div>
</template>

<template name="searching">
	 <div class="col-md-6">
	 	 <input type="text" class="searchinput form-control" placeholder="Type here to filter by URL">
	 </div>
	
</template>

