<!-- Top-level template. List the entries from the dataset with search and filter -->
<template name="hits">
	<div class="row">
		{{>filterhits}}
		{{>searching}}
	</div>
	<br>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		{{#each hits}}
			{{> entry}}
		{{/each}}
	</div>
</template>

<!-- Template for a single HTTP action to be displayed inside a bootstrap accordian -->
<template name="entry">
	<!-- Accordian div, color coded by HTTP Verb -->
	<div class="panel {{entryClass}}">
		<!-- Panel Heading, displays URI and time -->
		<div class="panel-heading" role="tab" id="panel-{{_id}}">
			<h4 class="panel-title">
				<div class="row" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
					<button class="btn btn-xs {{entryClass}} col-xs-1">{{action}}</button>

					<p class="col-xs-7 word-wrap-break-word">{{url}}</p>
					<p class="col-xs-2">{{time}}</p>

					<!-- Button Bar. Copy Header - Copy Body - Delete -->
					<div class="btn-group col-md-2 pull-right" role="group" aria-label="...">
  						<button type="button" class="btn btn-default btn-xs stop-prop btn-copy-id-{{_id}}" 
  								data-clipboard-action="copy" data-clipboard-text="{{_id}}"
  								title="Copy Id">	
  							<span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
  						</button>

  						<button type="button" class="btn btn-default btn-xs stop-prop btn-copy-header-{{_id}}" 
  								data-clipboard-action="copy" data-clipboard-target="#pre-header-{{_id}}"
  								title="Copy Header">	
  							<span class="glyphicon glyphicon-header" aria-hidden="true"></span>
  						</button>

  						<button type="button" class="{{#unless body}}disabled{{/unless}} btn btn-default btn-xs stop-prop btn-copy-body-{{_id}}" 
  								data-clipboard-action="copy" data-clipboard-target="#pre-body-{{_id}}"
  								title="Copy Body">
  							<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
  						</button>

 						<button type="button" class="btn btn-danger btn-xs delete-entry"
 								title="Delete">
 							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
 						</button>
					</div>
				</div>
			</h4>
		</div>

		<!-- Panel body, displays header and body of entry expected in JSON format -->
		<div id="collapse-{{_id}}" class="panel-collapse {{#if isFirst}} in {{else}} collapse {{/if}}" role="tabpanel" aria-labelledby="panel-{{_id}}">
			<div class="panel-body ">
				<div class="{{#if body}} col-md-6{{else}} col-md-12{{/if}}">
					<strong>HEADERS:</strong>
					<pre id="pre-header-{{_id}}">{{json2html headers}}</pre>
				</div>

				<!-- Don't display the body section if there isn't one -->
	            {{#if body}} 
				<div class="col-md-6">
					<strong>BODY:</strong>
					<!-- Copy to clipboard button-->
					<!-- <button class="btn-copy-body-{{_id}}" data-clipboard-action="copy" data-clipboard-target="#pre{{_id}}">
						Copy to clipboard
					</button> -->
					<!-- Target to copy -->
					<pre id="pre-body-{{_id}}">{{json2html body}}</pre>
				</div>
				{{/if}}
			</div>
		</div>
	</div>    
</template>

<!-- Template for an inline-list of filter checkboxes -->
<template name='filterhits'>
	<div class="col-md-6">
		<label class="checkbox-inline no-padding-left">
			<h4>Visibility filter:</h4>
		</label>
		<label class="checkbox-inline " >
		  <input type="checkbox" name="get" checked> GET
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" name="post" checked> POST
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" name="put" checked> PUT
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" name="delete" checked> DELETE
		</label>
	</div>
</template>

<!-- Template for the URI filter textbox -->
<template name="searching">
	 <div class="col-md-6">
	 	 <input type="text" class="searchinput form-control" placeholder="Type here to filter by URL">
	 </div>
</template>

