<template name="hits">
	<h2>Hits</h2>
	<ul class="nav nav-stacked" id="accordion">
	{{#each hits}}
		<li>
		{{> entry}}
		</li>
	{{/each}}
	</ul>
</template>

<template name="entry" >
	 <div class="row {{entryClass}}" >
    <!-- <div class="col-md-12"> -->
		<div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#firstLink{{_id}}">
				<!-- <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink{{_id}}"> -->
						<div class="col-md-6">
							<strong >Time:</strong>{{time}} 
						</div>
						<div class="col-md-6 pull-right">
							<strong>URL:</strong>{{url}} 
						</div>
						<!-- <strong>Action:</strong>{{action}} -->
	            <!-- </a> -->
			</div>
			<div class="panel-body panel-collapse collapse" id="firstLink{{_id}}">
				<div class="col-md-6">
					<strong>HEADERS:</strong>
					<pre>{{json2html headers}}</pre>
				</div>
	            {{#if body}} 
				<div class="col-md-6">
					<strong>BODY:</strong>
					<button class="btn-copy-body-{{_id}}" data-clipboard-action="copy" data-clipboard-target="#pre{{_id}}">
						Copy to clipboard
					</button>
					<!-- Target to copy -->
					<pre id="pre{{_id}}">{{json2html body}}</pre>
				</div>
				{{/if}}
			</div>
		</div>
     
    
</div>
</template>






