.verb-post{
	background-color:#ff944d;
	padding: 10px;
	margin-bottom: 10px;
}

.verb-get{
	background-color:#84e184;
	padding: 10px;
	/*padding-bottom: 10px;
argin-bottom: 10px;
*/
	margin-bottom: 10px;
}

ul, ol {
  list-style: none;
}
#accordion1 li.panel{
    margin-bottom: 0px;
}

/*.col-md-12>li.panel{
	padding-bottom: 10px;
	margin-bottom: 10px;
}*/

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0px;
}

.panel ul{
	padding-left: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}